<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Packvorgang Ihres Webprojekts verwendet. Sie können das Verhalten dieses Vorgangs anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Besuchen Sie "http://go.microsoft.com/fwlink/?LinkID=208121", um weitere Informationen zu erhalten. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://stapouster-carmanager.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>stapouster-carmanager.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>stapouster-carmanager</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$stapouster-carmanager</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="stapolizeiuster_carmanagerContext" Order="1" Enabled="True">
          <Destination Path="Data Source=dbs-stapouster.database.windows.net;Initial Catalog=db-stapouster-carmanager;Persist Security Info=True;User ID=stapoUsterAdmin;Password=&quot;g2h3M.em}=r\&quot;" Name="Data Source=dbs-stapouster.database.windows.net;Initial Catalog=db-stapouster-carmanager;Persist Security Info=True;User ID=stapoUsterAdmin;Password=g2h3M.em}=r\" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="stapolizeiuster_carmanager.Models.stapolizeiuster_carmanagerContext, stapolizeiuster-carmanager" MigrationConfiguration="stapolizeiuster_carmanager.Migrations.Configuration, stapolizeiuster-carmanager" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="stapolizeiuster_carmanagerContext-Web.config Connection String">
      <ParameterValue>Data Source=dbs-stapouster.database.windows.net;Initial Catalog=db-stapouster-carmanager;Persist Security Info=True;User ID=stapoUsterAdmin;Password=g2h3M.em}=r\</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="stapolizeiuster_carmanagerContext-Web.config Connection String">
      <ParameterValue>Data Source=dbs-stapouster.database.windows.net;Initial Catalog=db-stapouster-carmanager;Persist Security Info=True;User ID=stapoUsterAdmin;Password=g2h3M.em}=r\</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>