<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Packvorgang Ihres Webprojekts verwendet. Sie können das Verhalten dieses Vorgangs anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Besuchen Sie "http://go.microsoft.com/fwlink/?LinkID=208121", um weitere Informationen zu erhalten. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://stapou-car.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>stapou-car.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>stapou-car</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$stapou-car</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="stapolizeiuster_carmanagerContext" Order="1" Enabled="True">
          <Destination Path="Data Source=stapouster.database.windows.net;Initial Catalog=stapouster-carmanager_db;Persist Security Info=True;User ID=stapouster;Password=bXkJh}m3hW*(dVWU" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="stapolizeiuster_carmanager.Models.stapolizeiuster_carmanagerContext, stapolizeiuster-carmanager" MigrationConfiguration="stapolizeiuster_carmanager.Migrations.Configuration, stapolizeiuster-carmanager" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)stapolizeiuster_carmanagerContext-Web.config Connection String">
      <ParameterValue>Data Source=stapouster.database.windows.net;Initial Catalog=stapouster-carmanager_db;Persist Security Info=True;User ID=stapouster;Password=bXkJh}m3hW*(dVWU</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>